altgraph==0.17.4
asgiref==3.8.1
attrs==23.2.0
Automat==22.10.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
constantly==23.10.4
cryptography==42.0.5
cssselect==1.2.0
Django==5.0.3
filelock==3.13.1
hyperlink==21.0.0
idna==3.6
image==1.5.33
incremental==22.10.0
itemadapter==0.8.0
itemloaders==1.1.0
jmespath==1.0.1
lxml==5.1.0
packaging==24.0
parsel==1.9.0
pefile==2023.2.7
Pillow==9.5.0
Protego==0.3.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
PyDispatcher==2.0.7
pyinstaller-hooks-contrib==2024.3
pyOpenSSL==24.1.0
pywin32-ctypes==0.2.2
queuelib==1.6.2
requests==2.31.0
requests-file==2.0.0
Scrapy==2.11.1
service-identity==24.1.0
six==1.16.0
sqlparse==0.4.4
tldextract==5.1.2
Twisted==24.3.0
twisted-iocpsupport==1.0.4
typing_extensions==4.10.0
tzdata==2024.1
urllib3==2.2.1
w3lib==2.1.2
zope.interface==6.2